@import "tailwindcss";

@theme {
    --breakpoint-xs: 375px;   /* small phones baseline */
    --breakpoint-sm: 640px;   /* large phones */
    --breakpoint-md: 768px;   /* tablets */
    --breakpoint-lg: 1024px;  /* small laptops */
    --breakpoint-xl: 1280px;  /* desktops */
    --breakpoint-2xl: 1440px; /* your main design */
}